/* Ángel Macías Rodríguez -- UO289362 */

/* Estilos generales del proyecto MotoGP Desktop*/

/* COLORES USADOS:
  Background: #defdff (baby blue)
  Text: #315673 (midnight blue)
  Titles: #2A4961 (blue gray)
  Links: #2A4961 (dark purple)
  Links hover: #821A6A (darker purple)
  Links visited: #911D91 (black)
  Table borders: #0e86d4 (blue grotto)
*/

/* Especificidad 001 */
body {
  background-color: #defdff; /* Baby blue */
  color: #315673; /* Midnight blue */
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans",
    Tahoma, sans-serif;
  font-size: 1.15rem;
  margin: 0rem;
  padding: 1rem;
}

/* Especificidad 001, 001 */
h1,
h2,
h3 {
  /* WARNING: Color de fondo heredado de body */
  color: #2a4961; /* Blue gray */
}

/* Especificidad 001 */
a {
  /* WARNING: Color de fondo heredado de body */
  color: #2a4961; /* blue gray */
  text-decoration: none;
}

/* Especificidad 011, 011 */
a:hover,
a:focus {
  /* WARNING: Color de fondo heredado de body */
  color: #821a6a; /* darker purple */
  text-decoration: underline;
}
a:visited {
  /* WARNING: Color de fondo heredado de body */
  color: #911d91;
}

/* Especificidad 001 */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Especificidad 001, 001 */
th,
td {
  border: 2px solid #0e86d4; /* Blue grotto */
  padding: 0.5rem;
  text-align: center;
}
/* Especificidad */
.active {
  font-weight: bold;
}

/* Especificidad */
body:nth-child(1) {
  /* selector específico para las migas */
  font-size: 0.9rem;
}

section {
  padding: 0.5rem;
  border: 0.15em solid #00007F;
}

