/* Ángel Macías Rodríguez -- UO289362 */

/* Estilos del layout del proyecto MotoGP Desktop*/

/* Especificidad 001 */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Especificidad 001 */
nav {
  display: flex;
  flex-direction: row;
  flex: 0.9;
  align-items: center;
  justify-content: space-between;
}

/* Adaptación a pantallas pequeñas */
@media (min-width: 320px) and (max-width: 999px) {
  /* Especificidad 001 */
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Especificidad 001 */
  nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  /* Especificidad 001 */
  video {
    width: 100%;
    height: auto;
  }

  /* Especificidad 001 */
  audio {
    width: 100%;
  }

  /* Especificidad 011 */
  body:nth-child(1) {
    /*selector específico para las migas */
    display: none;
  }

  /* Especificidad 003 */
  article h2 + img {
    width: 100%;
    height: auto;
  }
}

/* Especificidad 012 */
body div {
  width: 100%;
  height: 33em;
  margin: 1em 0;
}
