main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
}

main > h2 {
  grid-column: 1 / -1;
}

main > p {
  grid-column: 1 / -1;
}

@media (max-width: 799px) {
  main {
    /* WARNING: redefinición para garantizar adaptabilidad */
    grid-template-columns: repeat(2, 1fr);
  }
}
