/* Ángel Macías Rodríguez -- UO289362 */

/* Estilos del layout del proyecto MotoGP Desktop*/

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  flex: 0.6;
  align-items: center;
  justify-content: space-between;
}

/* Adaptación a pantallas pequeñas */
@media (min-width: 320px) and (max-width: 799px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  video {
    width: 100%;
    height: auto;
  }

  audio {
    width: 100%;
  }

  /*eliminar migas */
  /* Especificidad */
  body:n-th-child(1) {
    /*selector específico para las migas */
    display: none;
  }
}
